.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: linear-gradient(45deg, blue, violet);
  margin: 0;
  padding: 0;
  width: 100vw;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.board {
  background-color: white;
  height: 600px;
  width: 600px;
  border: 2px solid purple;
  display: flex;
  flex-wrap: wrap;
}

.field {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
  color: violet;
  font-size: 100px;
}

.who {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  font-size: 20px;
  color: white;
}

.refresh {
  background: linear-gradient(to right, purple, blue);
  font-size: 30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px 30px;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.refresh:hover {
  box-shadow: 0 5px 10px -6px pink;
}

.line {
  position: absolute;
  background-color: violet;
}
.pion {
  height: 600px;
  width: 20px;
}
.poziom {
  height: 20px;
  width: 600px;
}
